#  Template NodeJS build

#  This template allows you to validate your NodeJS code.
#  The workflow allows running tests and code linting on the default branch.

image: node:10.15.3

pipelines:
  branches:
    featutre/*:
      - step:
          name: Dependency Installation
          caches:
            - node
          script:
            - npm install
      - step:
          name: Code Unit Testing
          script:
            - npm run test
          caches:
            - node
      - step:
          name: Lint Testing
          script:
            - ng lint
