// @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-gantt/styles/material.css';

// @import '../node_modules/@syncfusion/ej2-base/styles/material-definition.scss';
// @import '../node_modules/@syncfusion/ej2-gantt/styles/gantt/material-definition.scss';
// @import '../node_modules/@syncfusion/ej2-gantt/styles/gantt/icons/material.scss';
// @import '../node_modules/@syncfusion/ej2-gantt/styles/gantt/all.scss';

// .e-gantt .e-gantt-chart {

//   .e-chart-row .e-chart-row-cell {
//     line-height: 1;
//   }
//   .e-gantt-child-progressbar-inner-div {
//     background: var(--si-primary-100);
//   }
// }
